@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}