---
---
<section id="contact">
    <div class="container mx-auto">
        <h2 class="section-title">
            About me
        </h2>

        <div>
            <div>
                <p>
                    Hello! I'm Alvaro Luque, a software engineer from Spain with a passion for technology, 
                    problem-solving, and continuous self-improvement. I love building tools to solve my everyday 
                    challenges—whether it's a small script or a full-scale web application.
                </p>
                <p>
                    I graduated with a degree in Computer Science in 2024 and have been working at Entrust as a 
                    software engineer since my final year of studies. Currently, I'm developing an internal-use chatbot, 
                    where I'm continuously applying and refining my skills in a collaborative environment with high-quality standards.

                </p>
                <p>
                    Outside of work, I enjoy reading and taking walks with my dog. These moments help me 
                    unwind and focused to give my best throughout the day and keep on learning new things.
                </p>
            </div>

            <div>
                <div>
                    <img 
                        src="/profile_picture.jpeg" 
                        alt="Profile picture"
                        onerror=""
                    />
                </div>
            </div>
        </div>
    </div>
</section>