---
import { useTranslations } from '../i18n/utils';

export interface Props {
  lang: string;
}

const { lang } = Astro.props;
const t = useTranslations(lang as any);
---
<section id="contact">
    <div class="container mx-auto">
        <h2 class="section-title">
            {t('nav.contact')}
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
            <div>
                <h3 class="text-xl font-bold mb-4">
                    {t('contact.linksHeader')}
                </h3>
                <p class="mb-8">
                    {t('contact.linksText')}
                </p>

                <div id="listed-contact-methods" class="space-y-4">
                    <div class="flex items-center gap-4">
                        <div class="w-12 h-12 rounded-full bg-gray-500 flex items-center justify-center text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail">
                                <rect width="20" height="16" x="2" y="4" rx="2"/>
                                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
                            </svg>
                        </div>
                        <div>
                            <p class="text-sm text-gray-500">{t('contact.email')}</p>
                            <a href={`href:alvaroluquecu@gmail.com`} class="text-black hover:text-gray-600 transition-colors duration-300">alvaroluquecu@gmail.com</a>
                        </div>
                    </div>

                    <div class="flex items-center gap-4">
                        <div class="w-12 h-12 rounded-full bg-gray-500 flex items-center justify-center text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin">
                                <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
                                <rect width="4" height="12" x="2" y="9"/>
                                <circle cx="4" cy="4" r="2"/>
                            </svg>
                        </div>
                        <div>
                            <p class="text-sm text-gray-500">{t('contact.linkedin')}</p>
                            <a href={`https://www.linkedin.com/in/alvaro-lc/`} class="text-black hover:text-gray-600 transition-colors duration-300">alvaro-lc</a>
                        </div>
                    </div>

                    <div class="flex items-center gap-4">
                        <div class="w-12 h-12 rounded-full bg-gray-500 flex items-center justify-center text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                            </svg>
                        </div>
                        <div>
                            <p class="text-sm text-gray-500">{t('contact.github')}</p>
                            <a href={`https://github.com/alvarolc01`} class="text-black hover:text-gray-600 transition-colors duration-300">alvarolc01</a>
                        </div>
                    </div>

                    <div class="flex items-center gap-4">
                        <div class="w-12 h-12 rounded-full bg-gray-500 flex items-center justify-center text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin">
                                <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/>
                                <circle cx="12" cy="10" r="3"/>
                            </svg>
                        </div>
                        <div>
                            <p class="text-sm text-gray-500">{t('contact.locationName')}</p>
                            <p class="text-black">{t('contact.location')}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h3 class="text-xl font-bold mb-4">{t('contact.formHeader')}</h3>
                <form class="space-y-4">
                    <div>
                        <label 
                            for="input-name"
                            class="text-sm font-medium mb-1 block"
                        >
                        {t('contact.name')}
                        </label>
                        <input
                            type="text"
                            id="input-name"
                            name="input-name"
                            placeholder={t('contact.namePlaceholder')}
                            class="w-full px-4 py-2 border border-black rounded-lg focus:ring-2 outline-none translation-all duration-300"
                            required
                        />
                    </div>

                    <div>
                        <label 
                            for="input-email"
                            class="text-sm font-medium mb-1 block"
                        >
    
                        {t('contact.email')}
                        </label>
                        <input
                            type="text"
                            id="input-email"
                            name="input-email"
                            placeholder={t('contact.emailPlaceholder')}
                            class="w-full px-4 py-2 border border-black rounded-lg focus:ring-2 outline-none translation-all duration-300"
                            required
                        />
                    </div>

                    <div>
                        <label 
                            for="input-subject"
                            class="text-sm font-medium mb-1 block"
                        >
                        {t('contact.subject')}
                        </label>
                        <input
                            type="text"
                            id="input-subject"
                            name="input-subject"
                            placeholder={t('contact.subjectPlaceholder')}
                            class="w-full px-4 py-2 border border-black rounded-lg focus:ring-2 outline-none translation-all duration-300"
                            required
                        />
                    </div>

                    <div>
                        <label 
                            for="input-message"
                            class="text-sm font-medium mb-1 block"
                        >

                            {t('contact.message')}
                        </label>
                        <input
                            type="text"
                            id="input-message"
                            name="input-message"
                            placeholder={t('contact.messagePlaceholder')}
                            class="w-full px-4 py-2 border border-black rounded-lg focus:ring-2 outline-none translation-all duration-300"
                            required
                        />
                    </div>

                    <button
                        type="submit"
                        class="w-full px-6 py-3 bg-gray-300 rounded-lg shadow-md hover:shadow-lg translation-all duration-300 transform hover:-translate-y-1"
                    >
                        {t('contact.sendButton')}
                    </button>
                </form>
            </div>
        </div>

    </div>
</section>