---
---
<section id="contact">
    <div class="container mx-auto">
        <h2 class="section-title">
            Contact Me
        </h2>

        <div>
            <div>
                <h3>
                    Reach out
                </h3>
                <p>
                    Whether it's for new work opportunities, a project idea to collaborate on, or just to say hi, I'd be happy to hear from you.
                </p>

                <div id="listed-contact-methods">
                    <div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail">
                                <rect width="20" height="16" x="2" y="4" rx="2"/>
                                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
                            </svg>
                        </div>
                        <div>
                            <p>Email</p>
                            <a href={`href:alvaroluquecu@gmail.com`}>alvaroluquecu@gmail.com</a>
                        </div>
                    </div>

                    <div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin">
                                <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
                                <rect width="4" height="12" x="2" y="9"/>
                                <circle cx="4" cy="4" r="2"/>
                            </svg>
                        </div>
                        <div>
                            <p>LinkedIn</p>
                            <a href={`https://www.linkedin.com/in/alvaro-lc/`}>alvaro-lc</a>
                        </div>
                    </div>

                    <div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                            </svg>
                        <div>
                            <p>Github</p>
                            <a href={`https://github.com/alvarolc01`}>alvarolc01</a>
                        </div>
                    </div>

                    <div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin">
                                <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/>
                                <circle cx="12" cy="10" r="3"/>
                            </svg>
                        </div>
                        <div>
                            <p>Location</p>
                            <a>Barcelona, Catalonia, Spain</a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h3>Leave a message</h3>
                <form>
                    <div>
                        <label for="input-name">
                            Name
                        </label>
                        <input
                            type="text"
                            id="input-name"
                            name="input-name"
                            placeholder="Your name"
                            required
                        />
                    </div>

                    <div>
                        <label for="input-email">
                            Email
                        </label>
                        <input
                            type="text"
                            id="input-email"
                            name="input-email"
                            placeholder="Your email"
                            required
                        />
                    </div>

                    <div>
                        <label for="input-subject">
                            Subject
                        </label>
                        <input
                            type="text"
                            id="input-subject"
                            name="input-subject"
                            placeholder="Subject"
                            required
                        />
                    </div>

                    <div>
                        <label for="input-message">
                            Message
                        </label>
                        <input
                            type="text"
                            id="input-message"
                            name="input-message"
                            placeholder="Your message"
                            required
                        />
                    </div>

                    <button
                        type="submit"
                    >
                        Send
                    </button>
                </form>
            </div>
        </div>

    </div>
</section>