---
---
<section id="landing">
    <div>
        <h1>Hi! I'm Alvaro Luque</h1>
        <h2>
            Software Engineer
        </h2>
        <p>
            Writing software cleaner and more efficient than yesterday.
        </p>
        <div id="landing-buttons">
            <a href="#projects">View my work</a>
            <a href="#contact">Let's connect!</a>
        </div>
    </div>
</section>