---
import skillsData from "../data/skills.json" assert {type: 'json'};

interface SkillField {
    name: string;
    skills: string[];
};

const skills: SkillField[] = skillsData as SkillField[];

---
<section id="skills">
    <div class="container mx-auto">
        <h2 class="section-title">
            Skills
        </h2>

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 px-6">
            {skillsData.map((category) => (
              <div class=" p-6 rounded-lg shadow-md transform transition-all hover:scale-105 hover:shadow-lg">
                <h3 class="text-xl font-semibold mb-4 text-primary">{category.name}</h3>
                <ul class="flex flex-wrap gap-2">
                  {category.skills.map((skill) => (
                    <li class="text-sm px-3 py-1 bg-black rounded-full hover:text-primary transition-colors">{skill}</li>
                  ))}
                </ul>
              </div>
            ))}
          </div>
      
      

    </div>
</section>