---
import "../styles/global.css";

import SocialLinks from "../components/SocialLinks.astro";
import LanguageButton from "../components/LanguageButton.astro";

import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<SocialLinks />
		<LanguageButton lang={lang}/>
		<main>
			<slot />
		</main>
	</body>
	<script>
		import { gsap } from 'gsap';
		import { ScrollTrigger } from 'gsap/ScrollTrigger';

		gsap.registerPlugin(ScrollTrigger);

		gsap.from('#landing h1', { 
			opacity: 0, 
			y: 50, 
			duration: 1,
			delay: 0.2
		});

		gsap.from('#landing h2', { 
			opacity: 0, 
			y: 30, 
			duration: 1,
			delay: 0.4
		});
		
		gsap.from('#landing p', { 
			opacity: 0, 
			y: 30, 
			duration: 1,
			delay: 0.6
		});
		
		gsap.from('#landing-buttons a', { 
			opacity: 0, 
			y: 30, 
			duration: 1,
			delay: 0.8,
			stagger: 0.2
		});
	</script>
</html>
