---
import "../styles/global.css";

import SocialLinks from "../components/SocialLinks.astro";
import LanguageButton from "../components/LanguageButton.astro";

import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<SocialLinks />
		<LanguageButton lang={lang}/>
		<main>
			<slot />
		</main>
	</body>
</html>
